{% extends 'base.html' %}
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookDragon</title>
    
    <script type="text/javascript" src="static/js/jquery-3.7.1.js"></script>
    <!--Иконки-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/icon/favicon-16x16.png">
    <link rel="mask-icon" href="static/img/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

     <!--Файлы стилей-->
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/ordered.css">
     <script src="static/js/elements.js" defer></script>
{% endblock %}
{% block body %}
<main>
    <div class="ordered__container">
        <img src="static/img/ordered-dragon.png" alt="" class="ordered__img">
        <div class="ordered__text">Дякуюємо за замовлення! Ви можете оплатити його в особистому кабінеті.</div>
        <div class="ordered__buttons">
            <a class="ordered__btn ordered__btn-catalog" href="/home">Продовжити покупки</a>
            <a class="ordered__btn ordered__btn-profile" href="/profile">Особистий кабінет</a>
        </div>
    </div>
</main>
{% endblock %}
